@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
h3 {
  font-size: 1.2rem;
  font-weight: 600;
}
h4 {
  font-size: 1.1rem;
  font-weight: 600;
}
h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}
h6 {
  color: #d8d8d8;
}

button {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: black;
  color: aliceblue;
  padding: 13px 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #2e2d2d;
}

/* Navbar */
nav img:first-child {
  height: 50px;
  width: 70px;
}

.navbar {
  font-size: 16px;
  top: 0;
  left: 0;
}

.navbar-light .navbar-nav .nav-link {
  padding: 0 20px;
  color: black;
  transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i:hover,
.navbar i.active {
  color: rgb(201, 185, 39);
  transition: 0.3s ease;
}

.navbar i {
  font-size: 1.4rem;
  padding: 0 7px;
  transition: 0.3 ease;
  cursor: pointer;
}

/* Navbar responsive */

.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

#bar {
  font-size: 1.5rem;
  padding: 7px;
  cursor: pointer;
  transition: 0.3s ease;
  color: black;
}

#bar:hover,
#bar.active {
  color: white;
}

@media (max-width:992px) {
  body > nav > div > button:hover,
  body > nav > div > button:focus {
    background-color: rgb(201, 185, 39);
  }

  #navbarSupportedContent > ul {
    margin: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }
  #navbarSupportedContent > ul > li:nth-child(n) > a {
    padding: 10px 0px;
  }
}

/* Page principale */

#accueil {
  background-image: url("/images/model.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top 60px center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#accueil span {
  color: rgb(218, 189, 27);
}

/* Nouvelle mode */

body > section > div:nth-child(1) {
  text-align: center;
  letter-spacing: 3px;
}

hr {
  width: 8%;
  height: 2px;
  background-color: rgb(201, 185, 39);
}

/* Produits */

.box {
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  border-radius: 10px;
  overflow: hidden;
}

.slide-img {
  position: relative;
}
.slide-img img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.detail-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: calibri;
}

.type {
  display: flex;
  flex-direction: column;
}
.type a {
  color: #222222;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
}

.type span {
  color: rgba(26,26,26,0.5);
}

.price {
  color: #333333;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: poppins;
  letter-spacing: 0.5px;
}

.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background-color: rgba(161, 147, 119, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.buy-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: calibri;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}

.buy-btn:hover {
  color: #fff;
  background-color: #e22860;
  transition: all ease 0.3s;
  text-decoration: none;
}
.slide-img:hover .overlay{
  visibility: visible;
  animation: fade 0.5s;
}
@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* Aside photo */
#populaire-photo {
  background-image: url("/images/model2.jpg");
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}

#populaire-photo .container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#populaire-photo > div > p {
  font-size:16px; 
  font-weight: 600;
}

@media (max-width:460px) {
  #populaire-photo > div > p {
    font-size: 14px;
  }
  #populaire-photo > div > h2 {
    font-size: 20px;
  }
}

/* Onglet */
.onglet-js {
  width: 100%;
  height: 35vh;
  background: #f1f1f1;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.container-onglets{
  background: #f1f1f1;
  width: 100%;
  height: 30%;
  display: flex;
  border-bottom: 1px solid #333;
}
.onglets {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}
.onglets:not(:nth-child(3)) {
  border-right: 1px solid #333;
}

.contenu {
  height: 70%;
  width: 95%;
  position: absolute;
  opacity: 0;
}
.contenu h3 {
  padding: 10px 0px 10px 20px;
}
.contenu hr {
  width: 20%;
  height: 2px;
  margin-left: 20px;
  background: #000;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.contenu p {
  padding: 20px;
}
.fa-star, .fa-star-half-stroke {
  color: rgb(201, 185, 39);
}

.marques img{
  min-height: 90px;
  max-height: 100px;
  border-radius: 2px;
}

.colv img {
  max-height: 150px;
  max-width: 150px;
  margin-left: 20px;
  border-radius: 2px;
}

.colv-texte {
  margin-left: 20px;
}

/* Anim  onglet-js*/

.activer {
  background: rgb(201, 185, 39);
  color: #f1f1f1;
  transition: all 0.3s ease;
}

.activer-contenu {
  animation: fade 1.5s forwards;
}

@keyframes fade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@media (max-width:575px) {
  .onglet-js {
    height: 35vh;
  }
  .contenu {
    font-size: 0.8rem;
    height: 80%;
  }
  .onglets {
    font-size: 15px;
  }
  .container-onglets {
    height: 20%;
  }
  .marques img {
    max-width: 75px;
    max-height: 60px;
  }
  .colv img {
    max-width: 120px;
    min-height: 115px;
  }
  body > div > div.row.align-items-center.justify-content-center.petit-slider > div > div > div.content > div > p {
    font-size: 15px;
  }
}

@media (max-width:364px) {
  .onglet-js {
    height: 40vh;
  }
  .colv img {
    max-width: 110px;
    min-height: 130px;
  }
}

body > div > div {
  height: 50vh;
}

/* Slider auto */

.load {
  animation: slide 3s;
}

.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 35vh;
  animation: slide 9s infinite;
  border-radius: 2px;
}

.slider .content {
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  border-radius: 2px;
}
.slider .principal {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  letter-spacing: 1px;
}

.principal h1 {
  font-size: 70px;
  margin-bottom: 20px;
}
.principal p {
  font-size: 20px;
}


@media (max-width:1199px){
  .grand-slider {
    display: none;
  }
}
@media (min-width:1200px){
  .petit-slider {
    display: none;
  }
}

/* @media (max-width:1200px) {
  body > div > div {
    margin-bottom: 250px;
  }
} */

@keyframes slide {
  0%{
    background-image: url('/images/model.jpg');
  }
  33%{
    background-image: url('/images/model.jpg');
  }
  33.01%{
    background-image: url('/images/model2.jpg');
  }
  66%{
    background-image: url('/images/model2.jpg');
  }
  66.01%{
    background-image: url('/images/model.jpg');
  }
  100%{
    background-image: url('/images/model.jpg');
  }
}

/* Footer */

footer {
  background-color: #24262b;
  padding: 70px;
}
footer .container {
  margin: auto;
}
footer ul {
  list-style: none;
}

footer h4 {
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

footer h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91ebd;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

footer ul li:not(:last-child) {
  margin-bottom: 10px;
}

footer ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

footer ul li a:hover{
  color: white;
  padding-left: 8px;
  text-decoration: none;
}

.social a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin-right: 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5 ease;
}
.social a:hover{
  color: #24262b;
  background-color: white;
}